@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* Reset */

* {
    color: #222;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    height: 2000px;
    background-color: #fff;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
a:link { color: #555; }
a:visited { color: #555; }
a:hover { color: #555; }
a:active { color: #555; }
img { vertical-align: middle; }
ul { list-style: none; }
.flexContainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#wrap {
    width: 1060px;
    margin: 0 auto;
    background-color: #fff;
}
#header {
    width: 1060px;
    height: 195px;
}
#gnb {
    background-color: #c51a3e;
    padding-left: 40px;
}
#gnb a {
    display: inline-block;
    padding: 14px 10px;
    color: #fff;
    font-size: 16px;
}
#gnb a:hover {
    background-color: rgba(255, 49, 49, 0.7);
}
#mainMenu {
    display: flex;
}
#main {

}
#shopImg {
    padding: 20px;
}
#greetingMsg {
    padding: 50px 20px;
}
#greetingMsg h2 {
    padding-left: 20px;
    margin-bottom: 26px;
}
#greetingMsg p {
    color: #d17145;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
#contents {
    justify-content: center;
}
#contents > div {
    width: 250px;
    height: 210px;
    margin: 5px;
}
#contents > div:not(:first-child) {
    border: 1px dotted #000;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
#contents>div:first-child {
    padding: 20px 0;
}
#contents>div:first-child>h3 {
    padding: 10px;
    background-color: #e76c6e;
    color: #fff;
}
#contents>div:first-child>ul {
    list-style: square;
    list-style-position: inside;
    padding: 20px 0 0 20px;
    line-height: 30px;
}
#contents>div:first-child span {
    font-weight: bold;
}
#contents>div:nth-child(2) {
    background-image: url(../images/bg1.png);
}
#contents>div:nth-child(3) {
    background-image: url(../images/bg2.png);
}
#contents>div:nth-child(4) {
    background-image: url(../images/bg3.png);
}
#contents .flowerTitle {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: right;

    position: relative;
    top: 120px;
}
#contents .flowerTitle h2 {
    color: rgb(185, 32, 66);
}
#contents .flowerTitle h4 {
    position: relative;
    top: 30px;
    color: #3783ff;
}
#footer {
    border-top: 1px solid #e5e5e5;
    position: relative;
}
#footerGNB {
    padding-left: 40px;
}
#footer li {
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    font-size: 14px;
}
#footer li:hover {
    text-decoration: underline;
}
#copyright {
    position: absolute;
    right: 13px;
    font-size: 14px;
    top: 17px;
}
